.timer-config-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  &__form {
    display: flex;
    gap: 3rem;
    align-items: flex-start;

    app-input {
      display: flex;
      max-width: 300px;
    }
  }
}

@media (max-width: 640px) {
  .timer-config-container {
    align-items: center;

    &__form {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
      width: 100%;
      gap: 2rem;

      app-radio-group {
        width: 100%;
      }
    }
  }
}
