<nav class="navbar">
  <div class="navbar__wrapper container">
    <div class="logo">
      <img ngSrc="assets/images/logo.png" width="252" height="60" priority />
      <h3>Timer Test</h3>
    </div>
    <div class="right-actions">
      <ul class="social-media">
        <li>
          <a href="https://www.linkedin.com/in/armandolara97" target="_blank">
            <img
              ngSrc="assets/images/linkedin-icon.svg"
              width="36"
              height="36"
            />
          </a>
        </li>
        <li>
          <a href="https://github.com/MexLegend" target="_blank">
            <img ngSrc="assets/images/github-icon.svg" width="36" height="36" />
          </a>
        </li>
        <li>
          <a href="https://armandolara.vercel.app" target="_blank">
            <img
              ngSrc="assets/images/portfolio-icon.svg"
              width="36"
              height="36"
            />
          </a>
        </li>
      </ul>
      <app-toggle-theme />
    </div>
  </div>
</nav>
