$default-color: #fff;
$default-shadow-color: #adafbc;
$default-hover-color: #e7e7e7;

$primary-color: #209cee;
$primary-shadow-color: #006bb3;
$primary-hover-color: #108de0;

$success-color: #92cc41;
$success-shadow-color: #4aa52e;
$success-hover-color: #76c442;

$error-color: #e76e55;
$error-shadow-color: #8c2022;
$error-hover-color: #ce372b;

$text-light: #000;
$background-light: #fff;
$border-light: #000;
$navbar-border-light: #d3d3d3;
$nes-radio-prefix-light: #212529;

$text-dark: #fff;
$background-dark: #212529;
$border-dark: #fff;
$navbar-border-dark: #34383c;
$nes-radio-prefix-dark: #fff;