@use "themes/theme" as *;

.nes-input {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__field {
    --svg-fill-color: white;
    display: block;
    border-image-slice: 2;
    border-image-width: 2;
    border-image-repeat: space;
    border-image-source: var($input-border-image);
    border-image-outset: 2;
    width: calc(100% - 8px);
    padding: 0.5rem 1rem;
    margin: 4px;
    background-clip: padding-box;
    border-style: solid;
    border-width: 4px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: var($bg-color);
    color: var($text-color);

    path {
      fill: red;
    }

    &::placeholder {
      color: #757575;
    }

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}
