@use 'variables/typography.scss' as typo;

@font-face {
	font-family: typo.$main-font;
	src: url('../assets/fonts/KarmaSuture.ttf') format('truetype');
	font-style: normal;
}

@font-face {
	font-family: typo.$heading-font;
	src: url('../assets/fonts/PressStart2P.ttf') format('truetype');
	font-style: normal;
}
