@use "abstracts/colors" as *;
@use "themes/theme" as *;

.nes-btn {
  text-align: center;
  user-select: none;
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: var($input-border-image);
  border-image-outset: 2;
  position: relative;
  display: inline-block;
  padding: 6px 8px;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  appearance: none;
  border-style: solid;
  border-width: 4px;
  transition: all ease-in 0.125s;

  &.toogle-btn {
    padding: 6px 4rem;
  }

  &::after {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    content: "";
  }

  &:hover {
    text-decoration: none;
  }

  &--is-default {
    color: #212529;
    background-color: $default-color;

    &::after {
      box-shadow: inset -4px -4px $default-shadow-color;
    }

    &:hover {
      background-color: $default-hover-color;

      &::after {
        box-shadow: inset -6px -6px $default-shadow-color;
      }
    }

    &:active:not(.is-disabled)::after {
      box-shadow: inset 4px 4px $default-shadow-color;
    }
  }

  &--is-primary {
    color: #fff;
    background-color: $primary-color;

    &::after {
      box-shadow: inset -4px -4px $primary-shadow-color;
    }

    &:hover {
      background-color: $primary-hover-color;

      &::after {
        box-shadow: inset -6px -6px $primary-shadow-color;
      }
    }

    &:active:not(.is-disabled)::after {
      box-shadow: inset 4px 4px $primary-shadow-color;
    }
  }

  &--is-success {
    color: #fff;
    background-color: $success-color;

    &::after {
      box-shadow: inset -4px -4px $success-shadow-color;
    }

    &:hover {
      background-color: $success-hover-color;

      &::after {
        box-shadow: inset -6px -6px $success-shadow-color;
      }
    }

    &:active:not(.is-disabled)::after {
      box-shadow: inset 4px 4px $success-shadow-color;
    }
  }

  &--is-error {
    color: #fff;
    background-color: $error-color;

    &::after {
      box-shadow: inset -4px -4px $error-shadow-color;
    }

    &:hover {
      background-color: $error-hover-color;

      &::after {
        box-shadow: inset -6px -6px $error-shadow-color;
      }
    }

    &:active:not(.is-disabled)::after {
      box-shadow: inset 4px 4px $error-shadow-color;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .nes-btn {
    border-image-repeat: space;
  }
}
