@use "@styleVariables/colors.scss" as color;
@use "@styleVariables/images.scss" as images;

.nes-btn {
  text-align: center;
  user-select: none;
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url(images.$pixel-border-image);
  border-image-outset: 2;
  position: relative;
  display: inline-block;
  padding: 6px 8px;
  margin: 4px;
  text-align: center;
  vertical-align: middle;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  appearance: none;
  border-style: solid;
  border-width: 4px;
  transition: all ease-in 0.125s;

  &.toogle-btn {
    padding: 6px 4rem;
  }

  &::after {
    position: absolute;
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    content: "";
  }

  &:hover {
    text-decoration: none;
  }

  &--is-primary {
    color: #fff;
    background-color: color.$primary-color;

    &::after {
      box-shadow: inset -4px -4px color.$primary-shadow-color;
    }

    &:hover {
      background-color: color.$primary-hover-color;

      &::after {
        box-shadow: inset -6px -6px color.$primary-shadow-color;
      }
    }

    &:active:not(.is-disabled)::after {
      box-shadow: inset 4px 4px color.$primary-shadow-color;
    }
  }

  &--is-success {
    color: #fff;
    background-color: color.$success-color;

    &::after {
      box-shadow: inset -4px -4px color.$success-shadow-color;
    }

    &:hover {
      background-color: color.$success-hover-color;

      &::after {
        box-shadow: inset -6px -6px color.$success-shadow-color;
      }
    }

    &:active:not(.is-disabled)::after {
      box-shadow: inset 4px 4px color.$success-shadow-color;
    }
  }

  &--is-error {
    color: #fff;
    background-color: color.$error-color;

    &::after {
      box-shadow: inset -4px -4px color.$error-shadow-color;
    }

    &:hover {
      background-color: color.$error-hover-color;

      &::after {
        box-shadow: inset -6px -6px color.$error-shadow-color;
      }
    }

    &:active:not(.is-disabled)::after {
      box-shadow: inset 4px 4px color.$error-shadow-color;
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .nes-btn {
    border-image-repeat: space;
  }
}
