$primary-color: #209cee;
$primary-shadow-color: #006bb3;
$primary-hover-color: #108de0;

$success-color: #92cc41;
$success-shadow-color: #4aa52e;
$success-hover-color: #76c442;

$error-color: #e76e55;
$error-shadow-color: #8c2022;
$error-hover-color: #ce372b;