@use "themes/theme" as *;

.nes-toggle-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  appearance: none;
  background-color: transparent;
  border: none;
  height: 36px;
  width: 36px;
  transition: transform ease-in-out 0.2s;
  color: var($text-color);

  * {
    display: flex;
  }

  &:hover {
    transform: scale(1.1);
  }
}
